/node_modules
/public/hot
/public/storage
/public/template/*
/vendor/
/bootstrap/cache/*
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.env
.env.example
config/database.php
database.php
/public/uploads/*
/storage/logs/*
.phpintel
.editorconfig
.idea
.settings/
yarn.lock
composer.lock
.vscode